@model IEnumerable<Category>
@{
    ViewBag.Title = "Quản lý danh mục sản phẩm";
}
<a asp-controller="CategoriesManager" asp-action="Create" class="btn btn-primary mb-3"><i class="fa fa-plus"></i> Thêm danh mục</a>
<table class="table table-hover table-responsive table-bordered display w-100 d-block d-md-table">
    <thead>
        <tr class="thead-dark">
            <th>ID</th>
            <th>Tên danh mục</th>
            <th>Hành động</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model)
        {
            <tr>
                <td><a asp-controller="CategoriesManager" asp-action="Edit" asp-route-id="@category.CategoryId">@category.CategoryId</a></td>
                <td>@category.Name</td>
                <td>
                    <a asp-controller="CategoriesManager" asp-action="Edit" asp-route-id="@category.CategoryId" title="Chỉnh sửa"><i class="fas fa-edit"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>